/* Importing fonts */
@font-face {
    font-family: "Barlow Condensed";
    src: url("./src/fonts/BarlowCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./src/fonts/BarlowCondensed-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./src/fonts/BarlowCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Barlow Condensed", sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
}

.cell {
    border: 1px solid black;
}



